<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.xiaoyingbo.lib_architecture"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioVedioLeaning">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".test1_gl_2d.GL2DActivity"/>
        <activity android:name=".test2_gl_3d.GL3DActivity"/>
        <activity android:name=".test3_gl_texture.GLTextureActivity"/>
        <activity android:name=".test4_gl_texture_3d.GLTexture3DActivity"/>
        <activity android:name=".test5_gl_texture_assembly.GLTextureAssemblyActivity"/>
        <activity android:name=".test6_gl_oop.GLOOPActivity"/>
    </application>

</manifest>